.my-account{
    display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100vw;
	height: 100vh;
	background-image: url('../../img/thailand-direction.jpeg');
	background-position: center;
	background-size: cover;
	overflow: hidden;
}