.scroll-up {
	position: fixed;
	z-index: 2000;
	bottom: 100px;
	right: -300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	cursor: pointer;
	transition: 0.5s;
}

@media (max-width: 576px) {
	.scroll-up {
		bottom: 30px;
	}
}
