.reviews {
	padding: 5%;
	width: 100%;
	&__container {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
	}
	&__card {
		position: relative;
		padding: 10px;
		padding-left: 40px;
		margin: 20px;
		margin-bottom: 40px;
		width: 400px;
		border: 1px solid black;
		img {
			position: absolute;
			top: -50px;
			left: -60px;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: 1px solid black;
		}
		.name {
			font-size: 2.5rem;
		}
		.review {
			font-size: 2rem;
		}
	}
}
