.travel-offer {
	display: flex;
	width: 90%;
	max-width: 1000px;
	height: 240px;
	margin: 20px;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	overflow: hidden;
	&__img-box {
		position: relative;
		height: 100%;
		width: 450px;
		img {
			height: 100%;
			width: 100%;
		}
		.icon-heart {
			position: absolute;
			top: 8px;
			right: 8px;
			cursor: pointer;
		}
		.last-minute-label {
			position: absolute;
			top: 15px;
			left: 15px;
			z-index: 100;
			padding: 7px 14px;
			background-color: red;
			border-radius: 20px;
			p {
				font-size: 1.2rem;
				font-weight: bold;
				color: white;
			}
		}
	}
	&__travel-content {
		padding: 10px;
		width: 400px;
		h5 {
			font-size: 2.6rem;
		}
		p {
			font-size: 1.8rem;
		}

		.date-box,
		.airport-box,
		.meal-options-box {
			display: flex;
			align-items: center;
			padding: 4px;
			span {
				margin-left: 10px;
				font-size: 1.6rem;
			}
		}
	}
	&__asside-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 10px;
		width: 250px;
		p {
			font-size: 2.5rem;
			span {
				font-size: 2rem;
			}
		}
		.show-offer-btn {
			padding: 10px 20px;
			margin-top: 10px;
			font-size: 1.8rem;
			color: white;
			border-radius: 30px;
			border: none;
			box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
			background-color: #398ab9;
			// background-image: linear-gradient(315deg, #398ab9 0%, #93d8e9 74%);
			cursor: pointer;
		}
	}
}
@media (max-width: 1400px) {
	.travel-offer {
		&__travel-content {
			h5 {
				font-size: 2.2rem;
			}
			p {
				font-size: 1.6rem;
			}
			span {
				font-size: 1.8rem;
			}
			div p {
				font-size: 1.2rem;
			}
		}
		&__asside-info {
			p {
				font-size: 2.2rem;
				span {
					font-size: 1.6rem;
				}
			}
			.show-offer-btn {
				padding: 10px 20px;

				font-size: 1.6rem;
			}
		}
	}
}
@media (max-width: 996px) {
	.travel-offer {
		flex-direction: column;
		margin: 20px auto;
		height: 600px;
		width: 400px;
		&__img-box {
			height: 100%;
			width: 100%;
		}
		&__travel-content {
			width: 100%;
		}
		&__asside-info {
			width: 100%;
		}
	}
}
@media (max-width: 766px) {
	.travel-offer {
		width: 300px;
	}
}
@media (max-width: 576px) {
	.travel-offer {
		width: 95%;
		height: 520px;
		&__img-box {
			height: 250px;
			width: 100%;
		}
	}
}
@media (max-width: 360px) {
	.travel-offer {
		height: 450px;
	}
}
