@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Kalam&family=Montserrat&family=Roboto&family=Ubuntu&display=swap');

.nav-menu {
	&__links {
		display: flex;
		li {
			list-style: none;
			margin: 0 20px;
		}
		a {
			text-decoration: none;
			font-size: 2.2rem;
			font-family: 'Roboto', sans-serif;
			color: #398ab9;
		}
	}
	&__menu {
		cursor: pointer;
	}
}

@media (max-width: 992px) {
	.nav-menu {
		&__links {
			position: fixed;
			z-index: 500;
			top: 0;
			right: -150%;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			width: 100vw;
			height: 100vh;
			background-color: aqua;
			transition: 0.5s;
			.link {
				font-size: 3rem;
			}
		}
	}
}
