.chat {
	position: fixed;
    padding: 15px;
	z-index: 2000;
	bottom: 30px;
	right: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	cursor: pointer;
}
