.destinations {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5% 2%;
	width: 100%;

	
	&__cards-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		max-width: 1400px;
	}
	
}
