.filter-component {
	padding: 10px;
	cursor: pointer;
	.heading-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		h5 {
			font-size: 1.8rem;
		}
		.arrow-icon {
			transition: 0.3s;
			cursor: pointer;
		}
	}
	.choices {
		&__box {
			display: flex;
			margin-bottom: 2px;

			input {
				margin-right: 10px;
				padding: 2px;
			}
			label{
				font-size: 1.6rem;
			}
		}
	}
}

