.contact {
	position: relative;
	width: 100%;
	background-image: url('../../img/thailand-boats.jpg');
	background-position: center;
	background-size: cover;
	overflow: hidden;
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 3%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
	}
	&__box-first {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
		width: 100%;
		.litle-title {
			font-size: 2rem;
			color: white;
		}
		.big-title {
			font-size: 3rem;
			color: white;
		}
	}
	&__box-second {
		display: flex;
		padding: 40px 20px;
		width: 80%;
		height: 430px;
		background-color: rgba(255, 255, 255, 0.6);
		border-radius: 20px;

		.company {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 30%;

			.company-info {
				margin-bottom: 20px;
				font-size: 1.6rem;
			}
			.company-social {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				&__icon {
					width: 60px;
					height: 60px;
					cursor: pointer;
				}
			}
			
		}
		.categories {
			display: flex;
			justify-content: space-around;
			width: 70%;

			.category {
				.link-box {
					display: flex;

					align-items: center;
					a,
					p {
						color: black;
						font-size: 1.6rem;
						text-decoration: none;
						transition: 0.3s;
						cursor: pointer;
					}

					&__arrow-icon {
						width: 30px;
						height: 30px;
					}
				}
				.link-box:hover {
					a {
						color: #398ab9;
						transform: translate(7px, 0);
					}
					p {
						color: #398ab9;
						transform: translate(7px, 0);
					}
				}
			}
		}
	}
	&__form {
		input {
			margin: 0 30px;
			padding: 15px 30px;
			font-size: 2rem;
			background-color: rgba(0, 0, 0, 0.3);
			border-radius: 30px;
			border: 1px solid white;
			color: white;
		}
		input::placeholder {
			color: white;
		}
		button {
			padding: 15px 30px;
			border-radius: 30px;
			font-size: 1.6rem;
			border: none;
			cursor: pointer;
		}
	}
}
@media (max-width: 992px) {
	.contact {
		&__box-second {
			.company {
				.company-info {
					font-size: 1.4rem;
				}
				.company-social {
					&__icon {
						width: 40px;
						height: 40px;
					}
				}
			}
			.categories {
				.category {
					h3 {
						font-size: 2.3rem;
					}
					.link-box {
						a,
						p {
							font-size: 1.5rem;
						}

						&__arrow-icon {
							width: 27px;
							height: 27px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.contact {
		&__box-second {
			flex-direction: column;
			padding: 5px;
			.company {
				width: 100%;
				.company-info {
					font-size: 1.4rem;
				}
				.company-social {
					&__icon {
						width: 40px;
						height: 40px;
					}
				}
			}
			.categories {
				width: 100%;
				.category {
					h3 {
						font-size: 2.1rem;
					}
					.link-box {
						a,
						p {
							font-size: 1.4rem;
						}

						&__arrow-icon {
							width: 25px;
							height: 25px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.contact {
		&__box-first {
			.litle-title {
				font-size: 1.6rem;
			}
			.big-title {
				font-size: 2.5rem;
				margin-bottom: 20px;
			}
		}

		&__form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			input {
				font-size: 1.8rem;
				margin-bottom: 20px;
			}
		}

		&__box-second {
			padding: 20px;
			height: 850px;
			width: 95%;
			.company {
				.company-info {
					p {
						font-size: 1.6rem;
					}
				}
			}
			.categories {
				flex-direction: column;
				width: 100%;
				.category {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					h3 {
						font-size: 2.6rem;
						margin: 10px 0;
					}
					.link-box {
						a,
						p {
							font-size: 1.8rem;
						}
					}
				}
			}
		}
	}
}
