@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Kalam&family=Montserrat&family=Ubuntu&display=swap');

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	max-width: 2000px;
	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		background-color: rgba(57, 138, 185, 0.6);
	}
	&__video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__container {
		position: absolute;
		z-index: 200;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80%;
	}
	&__content-text {
		padding: 10%;
		z-index: 200;
		color: white;
		text-shadow: 3px 3px 3px black;
		h1 {
			font-size: 8rem;
			font-family: 'Kalam', cursive;
		}
		p {
			font-size: 3rem;
		}
	}
}

@media (min-width: 360px) and (max-width: 576px) {
	.header {
		&__content-text {
			padding: 4%;
			margin-bottom: 50px;

			h1 {
				font-size: 4.5rem;
			}
			p {
				font-size: 2.5rem;
			}
		}
	}
}
@media (min-width: 577px) and (max-width: 768px) {
	.header {
		&__content-text {
			padding: 4%;
			margin-bottom: 100px;

			h1 {
				font-size: 4.5rem;
			}
			p {
				font-size: 2.5rem;
			}
		}
	}
}
@media (min-width: 769px) and (max-width: 992px) {
	.header {
		&__content-text {
			padding: 4%;
			margin-bottom: 100px;

			h1 {
				font-size: 5.5rem;
			}
			p {
				font-size: 3rem;
			}
		}
	}
}
@media (min-width: 993px) and (max-width: 1200px) {
	.header {
		&__content-text {
			padding: 7%;
			margin-bottom: 80px;

			h1 {
				font-size: 7rem;
			}
			p {
				font-size: 3.5rem;
			}
		}
	}
}

@media (min-width: 1401px) and (max-width: 1800px) {
	.header {
		&__content-text {
			padding: 8%;

			h1 {
				font-size: 9rem;
			}
			p {
				font-size: 4.5rem;
			}
		}
	}
}
