.header {
	width: 100vw;
	height: 100vh;
	&__video {
	
	}
	&__container {
		position: absolute;
	}
	&__content-text {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 30%;
		left: 40%;
		padding: 10%;
		z-index: 200;
		color: black;
		h1 {
			font-size: 5rem;
		}
		p {
			font-size: 2rem;
		}
	}
	&__search-panel {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 70%;
		left: 50%;
		z-index: 100;
		width: 80%;
		height: 20%;
		max-width: 1200px;
		border-radius: 10px;
		background-color: white;
	}
}
@media (max-width: 500px) {
}
