.registration {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100vw;
	height: 100vh;
	background-image: url('../../img/thailand-direction.jpeg');
	background-position: center;
	background-size: cover;
	overflow: hidden;
	&__shadow {
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
		background-color: rgb(57, 138, 185, 0.6);
	}
	&__panel {
		z-index: 200;
		padding: 3%;
		width: 500px;
		border-radius: 20px;
		background-color: rgba(255, 255, 255, 0.7);
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		.form {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
		}
		.title {
			text-align: center;

			font-size: 5rem;
			margin-bottom: 20px;
			color: rgba(94, 94, 94, 0.863);
		}
		.input-email,
		.input-pass,
		.input-repeat-password,
		.input-name {
			padding: 10px 20px;
			margin: 20px 0;
			width: 100%;
			border-radius: 20px;
			border: none;
			box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		}

		.btn-register {
			margin: 10px 0;
			padding: 20px 20px;
			width: 70%;
			font-size: 1.6rem;
			border-radius: 10px;
			border: none;
			background-color: #06bcfb;
			background-image: linear-gradient(315deg, #6dc7e6 0%, #398ab9 74%);
			color: white;
			cursor: pointer;
		}
		.btn-signIn {
			display: block;
			margin: 0 auto;
			padding: 20px 20px;
			width: 70%;
			font-size: 1.6rem;
			border-radius: 10px;
			border: none;
			background-color: #06bcfb;
			background-image: linear-gradient(315deg, #6dc7e6 0%, #398ab9 74%);
			color: white;
			cursor: pointer;
			a {
				text-decoration: none;
				color: white;
			}
		}
	}
}

@media (max-width: 576px) {
	.registration {
		&__panel {
			padding-top: 10vh;
			width: 100%;
			height: 100%;
			border-radius: 0;
		}
	}
}
@media (max-width: 350px) {
	.registration {
		&__panel {
			h3 {
				margin: 0;
			}
			.title {
				margin-bottom: 0;
			}
			.form{
				input{
					margin: 12px 0;
				}
			}
		}
	}
}
