.search-panel {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 5%;
	width: 100%;

	max-width: 1200px;
	border-radius: 10px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	&__box-item {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		flex-basis: 30%;
	}
	&__label {
		font-size: 1.8rem;
		color: #313131dc;
	}
	&__input {
		margin-top: 10px;
		padding: 10px 20px;
		width: 100%;
		font-size: 1.6rem;
		border: none;
		border-radius: 25px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		color: #313131dc;
	}

	.range {
		accent-color: #1c658c;
		box-shadow: none;
	}
}
@media (max-width: 576px) {
	.search-panel {
		&__box-item {
			flex-basis: 100%;
		}
		&__label {
			font-size: 1.5rem;
		}
	}
}
@media (min-width: 577px) and (max-width: 768px) {
	.search-panel {
		&__box-item {
			flex-basis: 50%;
		}
		&__label {
			font-size: 1.6rem;
		}
	}
}
@media (min-width: 769px) and (max-width: 992px) {
	.search-panel {
		padding: 7% 3%;

		&__label {
			font-size: 1.6rem;
			margin-bottom: 10px;
		}
	}
}
