@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	p {
		font-family: 'Montserrat', sans-serif;
	}
}
.btn {
	padding: 10px 20px;
	border-radius: 40px;
	border: none;
	color: rgb(119, 118, 118);
	cursor: pointer;
	transition: 0.3s;
}
.btn:hover {
	background-color: #398ab9;
	color: white;
	box-shadow: #398ab9 0px 5px 15px;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-margin: 30px;
}
h2 {
	font-size: 6rem;
	font-family: 'Caveat', cursive;
	margin-bottom: 40px;
	// color: rgba(49, 49, 49, 0.862745098)
}
h3 {
	font-size: 2.5rem;
	margin: 20px 0px;
	font-family: 'Caveat', cursive;
}
h4 {
	font-family: 'Caveat', cursive;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #418bb9 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 16px;
}

*::-webkit-scrollbar-track {
	background: #ffffff;
}

*::-webkit-scrollbar-thumb {
	background-color: #418bb9;
	border-radius: 10px;
	border: 3px solid #ffffff;
}
@media (max-width: 576px) {
	h2 {
		font-size: 4rem;
	}
}
