@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Kalam&family=Montserrat&family=Ubuntu&display=swap');

.nav {
	position: fixed;
	z-index: 400;
	top: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 10vh;
	padding: 10px;
	background-color: #EEEEEE;
	&__logo-box {
		display: flex;
		align-items: center;
	
	}
	&__logo-link {
		font-size: 3rem;
		margin-left: 5px;
		text-decoration: none;
		font-family: 'Kalam', cursive;
		color: #398AB9;
	
	}
	&__logo-dot {
		position: relative;
		top: 8px;
		height: 10px;
		width: 10px;
		margin-left: 3px;
		background-color: black;
		border-radius: 50%;
	}

	&__container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 100%;
		width: 100%;
		max-width: 1200px;
	}
	

}


