@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Kalam&family=Montserrat&family=Ubuntu&display=swap');

.nav {
	position: fixed;
	z-index: 1500;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 10vh;
	padding: 10px;
	background-color: rgba(238, 238, 238, 0.6);
	&__container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 100%;
		width: 100%;
		max-width: 1200px;
	}
}

// @media (max-width: 576px) {
// 	.nav {
// 		z-index: 1500;
// 		&__container {
// 		}
// 	}
// }
